//@import 'lib/styles/mui-theme.scss';
//
//$red: #f26c6f;
//$grey: #e5e5e5;
//
//.root {
//  padding: $spacing-4;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  height: 400px;
//  background: $grey;
//}
//
//.regionSelect {
//  margin-left: 400px;
//  width: 800px;
//  margin-bottom: $spacing-4;
//}
//
//.regionKey {
//  font-family: $typography-h1-fontFamily; // TODO create typography mixin
//  font-size: $typography-h1-fontSize;
//  font-weight: $typography-h1-fontWeight;
//  margin-left: 400px;
//  display: flex;
//  flex-direction: row;
//  width: 500px;
//  margin-bottom: $spacing-2;
//}
//
//.regionKeySegment {
//  //border: 1px solid green;
//  display: flex;
//  justify-content: center;
//}
//
//.regionKeySegmentSpan1 {
//  width: 11%;
//}
//
//.regionKeySegmentSpan2 {
//  width: 22%;
//}
//
//.regionKeySegmentSpan3 {
//  width: 33%;
//}
//
//.regionKeySegmentSeparator {
//  width: 4%;
//}
//
//.regionKeyPart {
//  display: flex;
//  justify-content: center;
//}
//
//.nutsHierarchy {
//  display: flex;
//  flex-direction: column;
//}
//
//.nutsHierarchyRow {
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  padding: $spacing-1 0;
//  width: 900px;
//}
//
//.nutsHierarchyLabel {
//  font-family: $typography-body1-fontFamily;
//  font-size: $typography-body1-fontSize;
//  font-weight: $typography-body1-fontWeight;
//  width: 384px;
//  display: flex;
//  justify-content: flex-end;
//  padding-right: $spacing-2;
//}
//
//.nutsHierarchyLabelName {
//  font-weight: bold;
//}
//
//.nutsHierarchyIdWrapper {
//  font-family: $typography-h5-fontFamily;
//  font-size: $typography-h5-fontSize;
//  font-weight: $typography-h5-fontWeight;
//  color: $red;
//  display: flex;
//  flex-grow: 1;
//}
//
//.nutsHierarchyId {
//  padding: 0 $spacing-1;
//}
//
//.nutsHierarchyIdBorder {
//  border: 1px solid $red;
//  border-top: none;
//}
//
//.nutsHierarchyIdSpan2 {
//  width: 22%;
//}
//
//.nutsHierarchyIdSpan3 {
//  width: 37%;
//}
//
//.nutsHierarchyIdSpan5 {
//  width: 63%;
//}
//
//.nutsHierarchyIdSpan8 {
//  width: 100%;
//}
//
//.nutsLabel {
//  display: flex;
//  align-items: center;
//  margin-left: $spacing-1;
//  font-size: $typography-subtitle1-fontSize;
//}
